*.o
*.class
*_.8
a
a.out
core
tags
CMakeCache.txt
CMakeFiles
.sconsign.dblite
golang/hello/hello
opengl/bounce/bmpview
opengl/bounce/bounce
qt/qcalendar/Makefile
qt/qcalendar/qcalendar
opengl/bounce/bmpview
lua/testLua
cpp/defines/main
X11/switcher/switcher
X11/switcher/cmake_install.cmake
X11/switcher/Makefile
X11/simple/simpleWindow
cpp/problems/*
!cpp/problems/*.*
